*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    box-sizing: border-box;
}

.appBar{
    width: 100%;
    height: 15vh;
    background-color: #029E4F;
    display: flex;
}

.image_voltar_appBar{
    position: relative;
    top: 15%;
    left: 2%;
    height: 65px;
    width: 65px;
}

.title_appBar{
    font-size: 32px;
    color: white;
    margin-left: 42%;
    margin-top: 2%;
}

.body_div_buttons{
    width: 100%;
    height: 80vh;
}

.cont{
    width: 40%;
    height: 70vh;
    position: relative;
    left: 30%;
    top: 10%;
}

.title_cont_div{
    text-align: center;
    position: relative;
    top: 3%;
    font-size: 20px;
    font-weight: bold;
}

.button_acess{
    width: 100%;
    height: 15vh;
    margin-top: 35px;
}

.bt{
    width: 100%;
    height: 15vh;
    background-color: #029E4F;
    border: none;
    display: inline-flex;
    border-radius: 10px;
}

.img_button{
    width: 15%;
    position: relative;
    top: 6%;
    left: 20%;
}

.img_button2{
    width: 15%;
    position: relative;
    top: 10%;
    left: 20%;
}

.h2_button{
    color: white;
    position: relative;
    top: 39%;
    left: 25%;
}

.position_suport{
    position: relative;
    top: 4%;
    left: 35%;
}

.icone_user{
    width: 46%;
    height: 14vh;
}

.icone_user2{
    height: 14vh;
    transform: translate(530%);
}