*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
}

.cont_image{
    width: 10%;
    position: relative;
    left: 45%;
    margin-top: 2%;
}

.img_logo{
    width: 100%;
}

.form_login_cont{
    margin-top: 10px;
    width: 40%;
    height: 70vh;
    position: relative;
    left: 30%;
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 5px;
}

.title_form{
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
}

.input_form{
    width: 80%;
    height: 5vh;
    border-radius: 10px;
    border-style: solid;
    border-color: gray;
    background-color: white;
    margin-top: 50px;
    position: relative;
    left: 10%;
    padding: 5px;
}

.submit_input_form{
    width: 30%;
    height: 5vh;
    border-radius: 8px;
    border-style: solid;
    border-color: #029E4F;
    background-color: white;
    position: relative;
    top: 50px;
    color: darkslategray;
    left: 35%;
    font-size: 17px;
}

.link_redirection{
    width: 80%;
    position: relative;
    left: 10%;
    top: 10px;
}

.link1 {}

.link2{
    position: relative;
    left: 60%;
}

.submit_input_form:hover {
    transition: 0.3;
    background-color: #029E4F;
    color: white;
}