* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    box-sizing: border-box;
}

.conteudo {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.formulario {
    width: 40%;
    height: 80vh;
    background-color: #029E4F;
    position: relative;
    top: 10vh;
    left: 30%;
    border-radius: 20px;
}

p {
    text-align: center;
    position: relative;
    top: 5%;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.div_form_inputs {
    width: 100%;
    height: 55vh;
    position: relative;
    top: 10%;
}

.label_form_input {
    font-size: 18px;
    position: relative;
    left: 8.5%;
    color: white;
}

.input_form {
    width: 80%;
    position: relative;
    left: 8%;
    padding-left: 10px;
    height: 5vh;
    border-radius: 8px;
    border-style: solid;
    border-color: gray;
    font-size: 15px;
}

.cont {
    position: relative;
    margin-top: 20px;
}

.sub {
    width: 35%;
    height: 5vh;
    position: relative;
    left: 55%;
    top: 10%;
    border-radius: 8px;
    border-style: solid;
    border-color: green;
    background-color: white;
    font-size: 17px;
}

.sub:hover {
    transition: .3s;
    background-color: transparent;
    border-color: white;
    color: white;
}

.backInIndex{
    width: 14%;
    height: 5vh;
    position: relative;
    left: 33.5%;
    bottom: 5.5%;
    border-radius: 8px;
    border-style: solid;
    border-color: red;
    background-color: white;
    font-size: 17px;
}

.backInIndex:hover{
    transition: .3s;
    background-color: transparent;
    border-color: white;
    color: white;
}