* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17;
}

.container {
    width: 100%;
    height: 100vh;
}

.appBar {
    width: 100%;
    height: 15vh;
    background-color: #029E4F;
    display: flex;
}

.image_voltar_appBar {
    position: relative;
    top: 15%;
    left: 2%;
    height: 65px;
    width: 65px;
}

.title_appBar {
    font-size: 32px;
    color: white;
    margin-left: 35%;
    margin-top: 2%;
}

.conteudo {
    width: 100%;
    height: 70vh;
}

.pesquisa {
    width: 90%;
    height: 7vh;
    background-color: palevioletred;
    z-index: 1;
    position: relative;
    margin-top: 5%;
    left: 5%;
}

.tabela {
    width: 100%;
    height: 80vh;
    position: relative;
    max-height: 78vh;
    top: 10%;
    overflow-y: scroll;
}

.table {
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.img_tbl {
    width: 200px;
    height: 200px;
}

.video {
    width: 200px;
    height: 100px;
}

li{
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
ul{
    background-color: white;
}

hr {
    border: 2px solid rgba(0, 0, 0, 0.548);
}