<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/cadastro_pf.css" />
  <link rel="shortcut icon" href="../img/icons/favicon.ico" type="image/x-icon">
  <title>Cadastro Pessoa Física</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</head>

<body>
  <div class="container">

    <nav class="appBar">
      <img class="image_voltar_appBar" src="../img/de-volta.png" onclick="CadastroPFParaCadastreSe()">
      <h1 class="title_appBar">PESSOA FÍSICA</h1>
    </nav>

    <div class="formulario">
      <form action="../controllers/loginConnect.php" method="post" id="cadastroForm">
        <div class="cont1">
          <label>NOME COMPLETO</label>
          <br />
          <input class="style_input_form" type="text" name="nome" id="nome" oninput="capsCadastroPf()" />
          <br /><br /><br />
          <label>E-MAIL</label>
          <br />
          <input class="style_input_form" type="email" name="email" id="email" oninput="capsCadastroPf()" />
          <br /><br /><br />
          <label>CEP</label>
          <br />
          <input class="style_input_form" type="text" name="cep" id="cep" oninput="capsCadastroPf()" />
          <br /><br /><br />

          <label>BAIRRO</label>
          <label class="numero_input_form">Nº</label>
          <br />
          <input class="special_input_form1" type="text" name="bairro" id="bairro" oninput="capsCadastroPf()" />
          <input class="menor_special_input_form1" type="text" name="n" id="n" oninput="capsCadastroPf()" />
          <br /><br /><br />

          <label>SENHA</label>
          <br />
          <input class="style_input_form" type="password" name="senha" id="senha" />
        </div>
        <div class="cont2">
          <label>CPF</label>
          <br />
          <input class="style_input_form" type="text" name="cpf" id="cpf" maxlength="14" oninput="capsCadastroPf()" />
          <br /><br /><br />
          <label>NÚMERO DE TELEFONE</label>
          <br />
          <input class="menor_special_input_form2" type="text" name="ddd" id="ddd"
            placeholder="DDD +55" oninput="capsCadastroPf()" />
          <input class="special_input_form2" type="text" name="telefone" id="telefone" oninput="capsCadastroPf()" />
          <br /><br /><br />
          <label>ENDEREÇO</label>
          <br />
          <input class="style_input_form" type="text" name="endereco" id="endereco" oninput="capsCadastroPf()" />
          <br /><br /><br />
          <label>CIDADE</label>
          <br />
          <input class="style_input_form" type="text" name="cidade" id="cidade" oninput="capsCadastroPf()" />
          <br /><br /><br />

          <label>CONFIRMAR SENHA</label>
          <br />
          <input class="style_input_form" type="password" name="confirmar_senha" id="confirmar_senha" />
          <br /><br /><br />

          <input class="save_button_input_form" type="submit" value="Salvar" onclick="validarForm()" />
        </div>
      </form>
    </div>
  </div>
  
  <script src= "../js/redirection.js"></script>
  <script src="../js/formatacaoTXT.js"></script>
  
  <script>
    $(document).ready(function(){
      //$('#cpf').mask('000.000.000-00');
      $('#cep').mask('00000-000');
      $('#telefone').mask('(00) 00000-0000')
    });
  </script>

</body>

</html>