<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/cadastro_empresa_Prefeitura.css">
    <title>Cadastro De Empresas e Prefeituras</title>
</head>

<body>
    <div class="container">
        <nav class="appBar">
            <img class="image_voltar_appBar" src="../img/de-volta.png" onclick="VoltarEmpresaParaCadastraSe()">
            <h1 class="title_appBar">EMPRESAS E PREFEITURAS</h1>
        </nav>
        <div class="formulario">
            <form action="../controllers/loginCityHall.php" method="post" id="">
                <div class="cont1">
                    <label>RAZÃO SOCIAL</label>
                    <br>
                    <input class="style_input_form" type="text" name="razao_social" id="razao_social">
                    <br><br><br>
                    <label>E-MAIL</label>
                    <br>
                    <input class="style_input_form" type="email" name="email" id="email">
                    <br><br><br>
                    <label>CEP</label>
                    <br>
                    <input class="style_input_form" type="text" name="cep" id="cep">
                    <br><br><br>


                    <label>BAIRRO</label>
                    <label class="numero_input_form">Nº</label>
                    <br>
                    <input class="special_input_form1" type="text" name="bairro" id="bairro">
                    <input class="menor_special_input_form1" type="text" name="num_city_hall" id="n">
                    <br><br><br>

                    <label>SENHA</label>
                    <br>
                    <input class="style_input_form" type="password" name="senha" id="senha">


                </div>
                <div class="cont2">
                    <label>CNPJ</label>
                    <br>
                    <input class="style_input_form" type="text" name="cnpj" id="cnpj">
                    <br><br><br>
                    <label>NÚMERO DE TELEFONE</label>
                    <br>
                    <input class="menor_special_input_form2" type="text" name="ddd" id="ddd" placeholder="DDD +55"
                        maxlength="3">
                    <input class="special_input_form2" type="text" name="telefone" id="telefone">
                    <br><br><br>
                    <label>ENDEREÇO</label>
                    <br>
                    <input class="style_input_form" type="text" name="endereco" id="endereco">
                    <br><br><br>
                    <label>CIDADE</label>
                    <br>
                    <input class="style_input_form" type="text" name="cidade" id="cidade">
                    <br><br><br>

                    <label>CONFIRMAR SENHA</label>
                    <br>
                    <input class="style_input_form" type="password" name="confirmar_senha" id="confirmar_senha">
                    <br><br><br>

                    <input class="save_button_input_form" type="submit" value="Salvar" onsubmit="validate()">
                </div>
            </form>
        </div>
    </div>
    <script src="../js/redirection.js"></script>
</body>

</html>