<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/cadastre-se.css">
    <title>Cadastre-se</title>
</head>
<body>
    <div class="container">
        <nav class="appBar">
            <img class="image_voltar_appBar" src="../img/de-volta.png" onclick="CadastraSeParaIndex()">
            <h1 class="title_appBar">CADASTRE-SE</h1>
        </nav>
        <div class="body_div_buttons">
            <div class="cont">
                <div class="title_cont_div">
                    <p>Tipo de cadastro</p>
                </div>
                <div class="button_acess">
                    <button class="bt" onclick="CadastraSeParaCadastroPF()">
                        <img class="img_button" src="../img/pessoa.png">
                        <h2 class="h2_button">Pessoa Física</h2>
                    </button>
                </div>
                <div class="button_acess">
                    <button class="bt" onclick="CadastraseParaCadastro_E_P()">
                        <img class="img_button" src="../img/escritorio.png">
                        <h2 class="h2_button">Empresa/Prefeitura</h2>
                    </button>
                </div>
                <p class="position_suport">Problema ao se cadastrar?</p>
                <div class="button_acess">
                    <button class="bt" onclick="Suporte()">
                        <img class="img_button" src="../img/suporte-online.png">
                        <h2 class="h2_button">Suporte</h2>
                    </button>
                </div>
            </div>
        </div>
        <script src="../js/redirection.js"></script>
    </div>
</body>
</html>