<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurações</title>
    <link rel="stylesheet" href="../styles/configuracoes.css">
</head>
<body>
    <form action="">
        <div class="container">
            <nav class="app-Bar">
                <img class="image_voltar_appBar" src="../img/de-volta.png" onclick="VoltarDeConfParaHomeEmpresas()">
                <label for="" class="title_appBar">Configurações</label>
            </nav>
            <div class="childrens_container"><br><br>
                <div class="child"><label for="">Tema</label></div>
                <div class="child"><label for="">Fonte</label></div>
                <div class="child"><label for="">Tamanho da fonte</label></div>
                <div class="child"><label for=""><a href="conta.html">Minha conta</a></label></div><br>
                <div class="child"><label for="" class="grey">Versão</label></div>

                <div class="lateral_right">
                    <button class="bt_one" onclick="">
                        <img src="../img/lapis.png" alt="" class="img_lapis">
                    </button><br>
                    <button class="bt_one" onclick="">
                        <img src="../img/lapis.png" alt="" class="img_lapis">
                    </button><br>
                    <button class="bt">
                        <img src="../img/lapis.png" alt="" class="img_lapis">
                    </button>
                </div>
            </div>
        </div>
    </form>
    <script src="../js/redirection.js"></script>
</body>
</html>