<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/">
    <link rel="shortcut icon" href="../img/icons/favicon.ico" type="image/x-icon">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <nav class="appBar">
            <img class="image_voltar_appBar" src="../img/de-volta.png" onclick="VoltarDeConfParaHomeEmpresas()">
            <h1 class="title_appBar">CONFIGURAÇÕES</h1>
        </nav>
        <div class="conteudo"></div>
        <script src="../js/redirection.js"></script>
    </div>

</body>

</html>