<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conta</title>
    <link rel="stylesheet" href="../styles/conta.css">
</head>
<body>
    <form action="">
        <div class="container">
            <nav class="app-Bar">
                <img class="image_voltar_appBar" src="../img/de-volta.png" conta onclick="contaParaHome()">
                <label for="" class="title_appBar">Conta</label>
            </nav>
            <div class="childrens_container"><br><br>
                <div class="child"><label for="" class="grey">Nome:</label></div>
                <div class="child"><label for="" class="grey">CPF:</label></div>
                <div class="child"><label for="">E-Mail:</label></div>
                <div class="child"><label for="">Telefone:</label></div><br>
                <div class="child"><label for="" class="endereco"><b>Endereço</b></label></div>
                <div class="child"><label for="">Cidade:</label></div>
                <div class="child"><label for="">Bairro:</label></div>
                <div class="child"><label for="">Rua:</label></div>
                <div class="child"><label for="">N°:</label></div>
                <div class="child"><label for="">UF:</label></div>

                <div class="lateral_right">
                    <button class="bt_one" onclick="">
                        <img src="../img/lapis.png" alt="" class="img_lapis">
                    </button><br>
                    <button class="bt_one" onclick="">
                        <img src="../img/lapis.png" alt="" class="img_lapis">
                    </button><br>
                    <button class="bt">
                        <img src="../img/lapis.png" alt="" class="img_lapis">
                    </button>
                </div>
            </div>
        </div>
    </form>
    <script src="../js/redirection.js"></script>
</body>
</html>