<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/cadastro_pf.css" />
    <title>HOME</title>
</head>

<body>
    <div class="container">

        <nav class="appBar">
            <img class="image_voltar_appBar" src="../img/de-volta.png" onclick="BackInIndex()">
            <h1 class="title_appBar">HOME</h1>

            <img src="../img/pessoa.png" alt="" class="person">
        </nav>

        <div class="conteudo">
            
        </div>

        <div class="conteudo"></div>
        <script src="../js/home.js"></script>
    </div>
</body>

</html>