<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/home.css" />
  <link rel="shortcut icon" href="../img/icons/favicon.ico" type="image/x-icon">
  <title>HOME</title>
</head>

<body>
  <div class="container">
    <nav class="appBar">
      <img class="image_voltar_appBar" src="../img/de-volta.png" onclick="BackInIndex()" />
      <h1 class="title_appBar">INÍCIO</h1>

      <div class="cont_img">
        <img src="../img/pessoa.png" alt="imagem de pessoa logo" class="person">
      </div>
    </nav>

    <div class="conteudo">
      <div class="button_acess">
        <button class="bt" onclick="CadastroPF()">
          <img class="img_button" src="../img/pessoa.png">
          <h2 class="h2_button">Pessoa Física</h2>
        </button>
      </div>
      <div class="button_acess">
        <button class="bt" onclick="CadastroEP()">
          <img class="img_button" src="../img/escritorio.png">
          <h2 class="h2_button">Empresa/Prefeitura</h2>
        </button>
      </div>
      <p class="position_suport">Problema ao se cadastrar?</p>
      <div class="button_acess">
        <button class="bt" onclick="Suporte()">
          <img class="img_button" src="../img/suporte-online.png">
          <h2 class="h2_button">Suporte</h2>
        </button>
      </div>
      <script src="../js/home.js"></script>
    </div>
</body>

</html>