<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/redefinir_senha.css">
    <link rel="shortcut icon" href="../img/icons/favicon.ico" type="image/x-icon">
    <title>Redefinir Senha</title>
</head>

<body>
    <div class="container">
        <div class="conteudo">
            <form class="formulario" action="" method="post">
                <p>REDEFINIR SENHA</p>

                <div class="div_form_inputs">
                    <div class="cont">
                        <label class="label_form_input">CPF</label>
                        <br>
                        <input class="input_form" type="text" name="cpf" id="cpf" maxlength="14">
                    </div>
                    <div class="cont">
                        <label class="label_form_input">E-mail</label>
                        <br>
                        <input class="input_form" type="email" name="email" id="email">
                    </div>
                    <div class="cont">
                        <label class="label_form_input">Insira uma nova senha</label>
                        <br>
                        <input class="input_form" type="password" name="senha" id="senha" maxlength="20">
                    </div>
                    <div class="cont">
                        <label class="label_form_input">Insira novamente</label>
                        <br>
                        <input class="input_form" type="password" name="senha" id="senha" maxlength="20">
                    </div>
                    <br>

                    <input class="sub" type="submit" value="Salvar">
                </div>
            </form>
            <button class="backInIndex" onclick="voltarParaIndex()">Voltar</button>
        </div>
        <script src="../js/redirection.js"></script>
    </div>
</body>

</html>