<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/reportar.css">
    <title>REPORTAR</title>
</head>
<body>
    <div class="container">
        <nav class="appBar">
            <img class="image_voltar_appBar" src="../img/de-volta.png" onclick="VoltarReportarParaHome()">
            <h1 class="title_appBar">REPORTAR</h1>
        </nav>
        <div class="conteudo">
            <div class="form">
                <form action="" method="post">
                    <div class="cont1">
                        <label>SELECIONE O OCORRIDO</label>
                        <br>
                        <select class="select_ocorrido" name="" id="">
                            <option value="">Acumulo de lixo</option>
                            <option value="">Desabamento</option>
                            <option value="">Alagamento</option>
                            <option value="">Entulho</option>
                            <option value="">Fiação</option>
                        </select>
                        <br><br>
                        <label>ENDEREÇO</label>
                        <br>
                        <input class="input_style" type="text" name="endereco" id="endereco">
                        <br><br>
                        <label>CIDADE</label>
                        <br>
                        <input class="input_style" type="text" name="cidade" id="cidade">
                        <br><br>
                        <label>FOTO</label>
                        <br>
                        <input type="file" name="foto" id="foto">
                        <br><br>
                        <label>VIDEO</label>
                        <br>
                        <input type="file" name="video" id="video">
                    </div>
                    <div class="cont2">
                        <label>CEP</label>
                        <input class="input_style" type="text" name="cep" id="cep">
                        <br><br>
                        <label>BAIRRO</label>
                        <label for="n">N°</label>
                        <br>
                        <input class="bairro" type="text" name="bairro" id="bairro">
                        <input class="n_input" type="text" name="n" id="n">
                        <br><br>
                        <label>DESCREVA O OCORRIDO</label>
                        <br>
                        <textarea class="ocorrido_text_area" name="ocorrido" id="ocorrido"></textarea>
                        <br><br>
                        <input type="submit" value="Salvar">
                    </div>
                </form>
            </div>
        </div>
        <script src="../js/redirection.js"></script>
    </div>
</body>
</html>