<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/reportar.css" />
  <link rel="shortcut icon" href="../img/icons/favicon.ico" type="image/x-icon">
  <title>Reportar</title>
</head>

<body>
  <div class="container">

    <nav class="appBar">
      <img class="image_voltar_appBar" src="../img/de-volta.png" onclick="reportarParaHome()">
      <h1 class="title_appBar">Reportar</h1>
    </nav>

    <div class="formulario">
      <form action="../controllers/loginConnect.php" method="post" id="cadastroForm">
        <div class="cont1">
          <label>SELECIONE O OCORRIDO</label>
          <br />
          <select class="style_input_form"  name="ocorrido" id="ocorrido">
            <option value="">Acumulo de lixo</option>
            <option value="">Desabamento</option>
            <option value="">Alagamento</option>
            <option value="">Entulho</option>
            <option value="">Fiação</option>
          </select>
          <br /><br /><br />
          <label>CEP</label>
          <br />
          <input class="style_input_form" type="email" name="email" id="email" />
          <br /><br /><br />
          <label>ENDEREÇO</label>
          <br />
          <input class="style_input_form" type="text" name="cep" id="cep" />
          <br /><br /><br />

          <label>BAIRRO</label>
          <label class="numero_input_form">Nº</label>
          <br />
          <input class="special_input_form1" type="text" name="bairro" id="bairro" />
          <input class="menor_special_input_form1" type="text" name="n" id="n" />
          <br /><br /><br />

          <label>CIDADE</label>
          <br />
          <input class="style_input_form" type="password" name="Senha" id="senha" />
        </div>
        <div class="cont2">
          <label>UF</label>
          <br />
          <input class="style_input_form" type="text" name="cpf" id="cpf" />
          <br /><br /><br />
          <label>DESCREVA O OCORRIDO</label>
          <br />
          <textarea class="area_txt" name="ocorrido" id="ocorrido"></textarea>
          <br /><br /><br /><br>
          <input type="file" name="imagem" id="imagem">
          <input type="file" name="video" id="video">
          <br><br><br>
          <input class="save_button_input_form" type="button" value="Salvar" onclick="validarForm()" />

        </div>
      </form>
    </div>
  </div>
  <script src="../js/redirection.js"></script>
</body>

</html>