<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/suporte.css">
    <title>SUPORTE</title>
</head>

<body>
    <div class="container">
        <nav class="appBar">
            <div class="cont-img-logo"><img class="image_voltar_appBar" src="../img/de-volta.png" onclick="VoltarSuporteParaCadastreSe()"></div>
            <div class="cont-title-logo">
                <h1 class="title_appBar">SUPORTE</h1>
            </div>
        </nav>
        <div class="conteudo">
            <p>
                Olá,
                Obrigado por entrar em contato conosco. Estamos aqui para ajudá-lo com qualquer dúvida ou problema que
                você possa ter.
                Se você preferir falar com um agente de suporte ao cliente diretamente, clique no link abaixo para
                iniciar uma conversa no WhatsApp:
                Iniciar conversa no WhatsApp
                Observação: Este link só funcionará se você tiver o WhatsApp instalado em seu dispositivo.
                Se você não conseguir abrir o link, adicione o número <strong><u>+5511912345678</u></strong> aos seus contatos e envie uma
                mensagem para iniciar uma conversa.
                Estamos disponíveis de segunda a sexta, das 9h às 18h, exceto feriados.
                Atenciosamente, Equipe de Suporte.
            </p>
        </div>
        <div class="whats">
            <img src="../img/whatsapp.png" alt="">
        </div>

        <script src="../js/redirection.js"></script>
    </div>
</body>

</html>