<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/suporte.css">
    <title>SUPORTE</title>
</head>

<body>
    <div class="container">
        <nav class="appBar">
            <img class="image_voltar_appBar" src="../img/de-volta.png" onclick="BackInSuport()">
            <h1 class="title_appBar">PESSOA FÍSICA</h1>
        </nav>
        <div class="body_div">
            write here ...
        </div>

        <script src="../js/suporte.js"></script>
    </div>
</body>

</html>