<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/tabela_report.css">
    <link rel="shortcut icon" href="../img/icons/favicon.ico" type="image/x-icon">
    <title>TABELA DE REPORT</title>
</head>
<body>
    <div class="container">
        <nav class="appBar">
            <img class="image_voltar_appBar" src="../img/de-volta.png" onclick="VoltarTabelaParaHomeEmpresa()">
            <h1 class="title_appBar">TABELA DE REPORT</h1>
        </nav>
        <div class="conteudo">
            <div class="pesquisa">
                <input class="pesquisar_input" type="text" name="pesquisar" id="pesquisar">
                <button class="button_style_search">Pesquisar</button>
            </div>
            <div class="tabela">

            </div>
        </div>
    </div>
    <script src="../js/redirection.js"></script>
</body>
</html>